* {
    margin:0px;
    padding: 0px;
    border: 0px;
}

body {
    background-image: url(../static/bg_img.jpg);
}

.head {
    margin-top: 0px;
    padding: none;
    background-color: rgb(27, 27, 27);
    height: 80px;
    color: rgb(161, 161, 161);
    text-align: center;
    font-family:cursive
}

.nav_style {
    margin-top: 0px;
    padding: none;
    background-color: rgb(27, 27, 27);
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.nav {
    color: rgb(109, 109, 109);
    text-decoration: none;
    font-size: 18px;
    font-family:cursive
}

.grid_container {
    display: flex;
    justify-content: center;
    }

.grid_user_cards {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 50px 50px;
    width: 1100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.grid_view_decks {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 100px 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.box {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    width: 137px;
    height: 187px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
   }


.type {
    padding-left: 3px;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    height: 37px;
    height: 37px;
}


.div_type {
    display: flex;
    justify-content: start;
}

.div_family {
    display: flex;
    justify-content: center;
}

.div_type_rev {
    display: flex;
    justify-content: start;
    transform: rotate(180deg);
}

.right_side {
    display: flex;
    justify-content: end;
    margin-right: 50px;
}
.space_btwn {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
    justify-content: space-around;
}
.space {
    background-color: brown; opacity: 0;
    height: 5px;
    width: 30px;
}
.input_text {
    font-size: 20px;
}
.input_submit {
    font-size: 17px; 
    font-family: cursive
}
.create_form {
    padding-left: 30px;
    padding-top: 20px;
}

.column {
display: flex;
flex-direction: column;
align-items: center;
}
a {
    color: black;
    text-decoration: none;
    font-family:cursive
}
p {
    font-family:cursive
}
.empty {
    font-size: 20px;
}