<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block before %} {% endblock %}
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>
  <div class="head">
    {% block body_title %}  {% endblock %}
  </div>

  <div class="nav_style">

     <a class="nav" href="/template">Getting Started</a>
     <a class="nav" href="/">Home</a>
     <a class="nav" href="/view_decks">Browse Decks</a>
     <a class="nav" href="/categories">Your Deck Categories</a>
     <a class="nav" href="/login">Login</a>
     <a class="nav" href="/logout">Logout</a> 

  </div>

 {% block body %} {% endblock %}

  <br>
  <br>
 {% for msg in get_flashed_messages() %}
 <div class="center">
  <p class="flash-msg">
    {{msg}}
  </p>
 </div>
  {% endfor %}

</body>
</html>