{% extends "base.html" %}
{% block before %} <link rel="stylesheet" href="../../static/styles.css"> {% endblock %}
{% block title %} Category {% endblock %}

{% block body_title %}<h1> Create Deck </h1>{% endblock %}

{% block body %}

<form action="/categories/{{category_id}}", method="POST" enctype="multipart/form-data">

    <p>Deck Name <input type="text" name="deck_name"></p>
    Deck Visibility <select name="private" id="private">
        <option value=1>private</option>
        <option value=>public</option>
    </select>
    <br>
    <br>
    Deck Image <input type="file", name="image" accept=".png, .jpeg">
    <p><input type="submit"></p>
</form>

{% endblock %}