{% extends "base.html" %}
{% block before %} <link rel="stylesheet" href="../static/styles.css"> {% endblock %}
{% block title %} Homepage {% endblock %}

{% block body %}

<h1> Homepage</h1> 
     <a href="/view_decks">Browse Decks</a>
     <a href="/categories">Categories</a>
     <!-- <a href="/create_account">Create Account</a> -->
     <a href="/login">Login</a>
     <a href="/logout">Logout</a>
<br>
<br>
<br>
<div class="box">
     <div class="div_type">
          <div class="type">7</div>
     </div>
     <div class="div_family">
          <div class="family"><img src="../static/clubs.png" alt=""></div>
     </div>
     <div class="div_type_rev">
          <div class="type">7</div>
     </div>
</div>
        
{% endblock %}