{% extends "base.html" %}
{% block before %} <link rel="stylesheet" href="../static/styles.css"> {% endblock %}
{% block title %} Getting Started {% endblock %}


{% block body_title %} <h1> Welcome to Deck Desinger!</h1> {% endblock %}

{% block body %}


     <p> This is a webpage that allows you to upload and create your very own deck of cards!</p>
     <p> No need to draw any numbers or spade symbols, the website does that for you! </p>
     <p> Save the template below for reference: </p>
    <br>
    <br>
    <br>
     <img src="../static/temp.png" alt="822px by 1122px" style="height: 400px;">

{% endblock %}