{% extends "base.html" %}
{% block before %} <link rel="stylesheet" href="../../static/styles.css"> {% endblock %}
{% block title %} Update Deck {% endblock %}


{% block body %}
<div class="create_form">
    <form action="/update_deck/{{deck.deck_id}}", method="POST">
            <p>Deck Name <input class="input_text" type="text" name="deck_name" value="{{deck.deck_name}}"></p>
            <br>
            <p>Deck Visibility <select name="private" id="private">
                <option value=1>private</option>
                <option value=>public</option>
            </select></p>
            <br>
            <br>
            <p><input type="submit" class="input_submit"></p>
    </form>
</div>

{% endblock %}