{% extends "base.html" %}
{% block before %} <link rel="stylesheet" href="../../static/styles.css"> {% endblock %}
{% block title %} Cards {% endblock %}


{% block body_title %} <h1> Cards </h1> {% endblock %}
{% block body %}

<div class="grid_container">
    <div class="grid_user_cards">

    {% for card in cards %}  

        <div class="box" style="background-image:url({{card.image.image_ref}})";>
            <div class="div_type">
                <div class="type">
                    {% if card.card_family != "joker" %}
                    {{ card.card_type }}
                    {% endif %}
                </div>
            </div>

            <div class="div_family">
                <div class="family">
                    {% if card.card_family == "hearts" %}
                    <img src="../../static/hearts.png" alt="">
                    {% elif card.card_family == "spades" %}
                    <img src="../../static/spades.png" alt="">
                    {% elif card.card_family == "clubs" %}
                    <img src="../../static/clubs.png" alt="">
                    {% elif card.card_family == "diamonds" %}
                    <img src="../../static/diamonds.png" alt="">
                    {% elif card.card_family == "joker" %}
                    <div class="type">joker</div>
                    {% endif %}
                </div>
            </div>

            <div class="div_type_rev">
                <div class="type">     
                    {% if card.card_family != "joker" %}
                    {{ card.card_type }}
                    {% endif %}
                </div>
            </div>

        </div>
        <br>
    {% endfor %}
    </div>
</div>
{% endblock %}