{% extends "base.html" %}
{% block before %} <link rel="stylesheet" href="../../static/styles.css"> {% endblock %}
{% block title %} View Decks {% endblock %}

{% block body_title %} <h1> View Decks </h1> {% endblock %}
{% block body %}


{% for deck in public_decks %}
    {{ deck.deck_name }}
    <div class="box" style="background-image:url({{deck.card[0].image.image_ref}})";>
        <div class="div_type">
            <div class="type">
                1
            </div>
        </div>

        <div class="div_family">
            <div class="family">
                <img src="../../static/diamonds.png" alt="">
            </div>
        </div>

        <div class="div_type_rev">
            <div class="type">     
                1
            </div>
        </div>

    </div>
    <br>
{% endfor %}

{% endblock %}